  repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-yaml
        - id: check-added-large-files
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.7.0
      hooks:
        - id: ruff
          args: ["--fix"]

    - repo: https://github.com/PyCQA/bandit
      rev: 1.8.6
      hooks:
        - id: bandit
          name: bandit (security checks)
          args: ["-lll", "-r", "."]
          language_version: python3
