version: '3.9'

x-common-service: &common-service
  build:
    context: ..
    dockerfile: docker/Dockerfile
  restart: unless-stopped
  volumes:
    - ../src:/home/web-user/src
    - fast-clean-api-user-home:/home/web-user
  environment:
    - PYTHONUNBUFFERED=1
    - PYTHONDONTWRITEBYTECODE=1
  healthcheck:
    test: ["CMD", "sh", "-c", "curl -f http://localhost:8000/ || exit 1"]
    interval: 30s
    timeout: 5s
    retries: 3
    start_period: 10s


services:
  fast-clean-api:
    <<: *common-service
    container_name: fast-clean-api
    ports:
      - "8002:8000"
    env_file:
      - ../.env

  fast-clean-api-test:
    <<: *common-service
    container_name: fast-clean-api-test
    ports:
      - "8003:8000"
    env_file:
      - ../.env.test

volumes:
  fast-clean-api-user-home:
